footer {
    background-color: rgb(196, 157, 163);
    color: #fff;
  }
  footer h3 {
    color: #fff;
    margin-bottom: 20px;
  }
  footer p, footer ul li a {
    color: #fff;
  }
  footer .social-icons li a {
    color: #fff;
    font-size: 18px;
  }
  footer .social-icons li a:hover {
    color: #ddd;
  }
  footer .copyright {
    background-color: rgb(196, 157, 163);
    color: #fff;
  }
  